[submodule "games/lurkinghorror/source"]
	path = games/lurkinghorror/source
	url = https://github.com/the-infocom-files/lurkinghorror.git
[submodule "games/zork1/source"]
	path = games/zork1/source
	url = https://github.com/the-infocom-files/zork1.git
[submodule "games/enchanter/source"]
	path = games/enchanter/source
	url = https://github.com/the-infocom-files/enchanter
